body {
  color: #4B4A4A;
}

.navBar,
.header {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-bock; 
  margin: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #4B4A4A;
  transition: 0.1s;
  
}

nav a:hover {  
  border-bottom: 2px solid #737373;;  
}

#headerImg {  
  margin: 1.5rem;
}

.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#homeImg {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.homeText {
  margin-top: 3rem;
  text-align: center;
  font-size: larger;
  font-weight: bolder;    
}

.printText {
  margin-top: 3rem;
  text-align: center;   
}

.printListing {
    text-align: center;
    width:100%;
    height: auto;
}

.footer {    
  left:0px;
  bottom:0px;
  text-align: center;
  width:100%;
  height: auto;
  background:#737373;
  color: white;
  padding: 5px;
}

.printImage {
  display: block;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footerImg {  
  width: 35px;
  height: auto;  
}

#ig {  
  width: 50px;
  height: auto;  
}

#headshotImg {
  display: block;
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow:0px 0px 7px grey;
  -webkit-box-shadow:0px 0px 7px grey;
  box-shadow:0px 0px 7px grey;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; 
}

.bio {
  margin-top: 3rem;  
  margin-bottom: 3rem;
  padding-left: 80px;
  padding-right: 80px;
}

.hatCards {
  list-style: none;
}

.hatListing {
  text-align: center;
  border-radius: 25px;
  margin: 1rem;
  padding: 2rem;
  margin: 1rem;  
}



@media (min-width: 768px) {
  .hatCards {
    display: flex;
    flex-wrap: wrap;
  }

  .hatListing {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .hatListing {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .hatListing {
    width: calc(20% - 2rem);
  }
}

.hatImage {  
    justify-self: center;
    height: 18rem;
    width: auto;
    -moz-box-shadow:0px 0px 7px grey;
    -webkit-box-shadow:0px 0px 7px grey;
    box-shadow:0px 0px 7px grey;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px; 
  }



.navigateButtons {
  height: 100px;
  display: inline-block;
  border: white;
  background: white;
  font-size: 30px;
}

.buttons {
  margin: auto;
  width: 50%;
}