body {
  color: #4B4A4A;
}

#headerImg {  
  margin: 1.5rem;
}

.navBar,
.header {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-bock; 
  margin: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #4B4A4A;
  transition: 0.1s;
  
}

nav a:hover {  
  border-bottom: 2px solid #737373;;  
}

.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#homeImg {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.homeText {
  margin-top: 3rem;
  text-align: center;
  font-weight: bolder;    
}

.footer { 
  bottom:0px;  
  background:#737373;
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

#footerImg {  
  margin-top: .5rem;
  width: 35px;
  height: auto;  
}

#ig {  
  width: 50px;
  height: auto;  
}

.hatCards {
  list-style: none;
}

.hatListing {
  text-align: center;
  border-radius: 25px;
  margin: 1rem;
  padding: 2rem;
  margin: 1rem;  
}

@media (min-width: 768px) {
  .hatCards {
    display: flex;
    flex-wrap: wrap;
  }

  .hatListing {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .hatListing {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .hatListing {
    width: calc(20% - 2rem);
  }
}

.hatImage {  
  justify-self: center;
  height: 18rem;
  width: auto;
  -moz-box-shadow:0px 0px 7px grey;
  -webkit-box-shadow:0px 0px 7px grey;
  box-shadow:0px 0px 7px grey;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; 
  }

.printText {
  margin-top: 3rem;
  text-align: center;   
}

.printListing {
    text-align: center;
    width:100%;
    height: auto;
}

.printImage {
  display: block;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#headshotImg {
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow:0px 0px 7px grey;
  -webkit-box-shadow:0px 0px 7px grey;
  box-shadow:0px 0px 7px grey;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; 
}

.bio {
  text-align: center;
  margin-top: 3rem;  
  margin-bottom: 3rem;
  padding-left: 20px;
  padding-right: 20px;
}
