body {
  color: #4B4A4A;
}

.navBar,
.header {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-bock; 
  margin: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #4B4A4A;
  transition: 0.1s;
  
}

nav a:hover {  
  border-bottom: 2px solid #737373;;  
}

#headerImg {  
  margin: 1.5rem;
}

.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#homeImg {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.homeText {
  margin-top: 3rem;
  text-align: center;
  font-size: larger;
  font-weight: bolder;    
}

.printText {
  margin-top: 3rem;
  text-align: center;   
}

.printListing {
    text-align: center;
    width:100%;
    height: auto;
}

.footer {    
  left:0px;
  bottom:0px;
  text-align: center;
  width:100%;
  height: auto;
  background:#737373;
  color: white;
  padding: 5px;
}

.printImage {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footerImg {  
  width: 35px;
  height: auto;  
}

#ig {  
  width: 50px;
  height: auto;  
}

#headshotImg {
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.float {
  display: flex;
}

.floatChild {
  margin-top: 3rem;
  flex: 1;
}

.floatChild:first-child {
  margin-top: 3rem;  
} 

.bioTextSecondBlock{
  text-align: left;
}



.navigateButtons {
  height: 100px;
  display: inline-block;
  border: white;
  background: white;
  font-size: 30px;
}

.buttons {
  margin: auto;
  width: 50%;
}